#page-landing {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #FF6347 8%, #e96258 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-landing .content-wrapper {
    position: relative;

    width: 100%;
    height: 100%;
    max-height: 680px;
    max-width: 1200px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    background: url('../../Images/logo.png') no-repeat 100% 70%;
    background-size: 480px;
}

.content-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.content-logo img {
    width: 8rem;
}

#page-landing .content-wrapper main h1 {
    max-width: 780px;
    font-size: 76px;
    font-weight: 900;
    line-height: 90px;
}

#page-landing .content-wrapper main p {
    max-width: 550px;
    margin-top: 40px;
    font-size: 24px;
    line-height: 34px;
}

.content-wrapper .enter-app{
    position: absolute;
    right: 0;
    bottom: 0;

    width: 100px;
    height: 50px;
    background-color: #00FA9A;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.content-wrapper .enter-app:hover{
    filter: brightness(90%);
    transition: 400ms;
}

