#page-map{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
}

#page-map aside {
    width: 440px;
    background: linear-gradient(329.54deg, #FF6347 8%, #e96258 100%);
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page-map aside header{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#page-map aside header img {
    width: 280px;
}

#page-map aside header h2 {
    font-size: 28px;
    font-weight: 800;
    line-height: 36px;
    margin-top: 16px;
}

#page-map aside header p {
    line-height: 28px ;
    margin-top: 16px;
}

#page-map aside header a {
    text-decoration: none;
    color: #FAFAFA;
    margin-top: 32px;
    border: 1px solid #FAFAFA;
    padding: 8px 16px;
    border-radius: 8px;
}

#page-map aside header a:hover{
    color: #e96258;
    background-color: #FAFAFA;
    transition: 400ms;
}

#page-map aside footer{
    text-align: center;
}
