* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color:#fafafa;
    background-color: #ebf2f5;
}

body, input, button, textarea {
    font: 600 1.2rem  'Nunito', sans-serif;
}